<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #f68b1e !important" data-bs-theme="dark">
    <div class="container-fluid" >
        <a class="navbar-brand" style="font-weight: bold !important; font-size: 30px" href="#">WebScrapping Jumia</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <form class="d-flex" role="search" style="font-weight: bold !important; font-size: 20px; color: #FFF">
                <p> BenMrad Bilel | DSI22 </p>
            </form>
        </div>
    </div>
</nav>